.container {
  padding: 40px;
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 920px;
    margin: auto;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.attrib {
  padding-top: 16px;
  padding-bottom: 32px;
  color: var(--caption);
  text-align: right;
  font-size: 90%;
}

.attrib a {
  color: var(--link);
  text-decoration: none;
}

.attrib a:hover {
  text-decoration: underline;
}

.logo {
  height: 64px;
  width: 64px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .container {
    padding: 20px;
  }
}

.empty {
  font-style: italic;
  color: var(--caption);
}
