* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sans-serif: BasierSquare, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monospace: "JetBrains Mono", Menlo, "Courier New", Courier, monospace;

  --border: #ccc;
  --caption: #666;

  --link: #58aef8;

  --hover: #eee;
  --word-active: #58aef8;
  --word-active-hover: #89c6fa;
  --word-active-text: white;
  --outline-active: #58aef8;
  --outline-active-hover: #89c6fa;
  --outline-active-text: white;

  --key-base: #ddd;
  --key-matched: #58aef8;
  --key-unmatched: #999;
  --key-letters: #58aef8;
  --key-alt: #57c9c9;
  --key-rare: #9fcfff;
  --key-combo: #adadff;
  --key-number: #93cf65;
  --key-symbol: #dbdb6b;
  --key-spelling: #63c9c9;
  --key-brief: #ffb061;
  --key-stroke: none;

  --chain-casing: #333;
  --chain-inner: #b0b0b0;
}

body,
input[type="text"] {
  font-family: var(--sans-serif);
}
