* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sans-serif: BasierSquare, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --monospace: "JetBrains Mono", Menlo, "Courier New", Courier, monospace;

  --border: #ccc;
  --caption: #666;

  --link: #58aef8;

  --hover: #eee;
  --word-active: #58aef8;
  --word-active-hover: #89c6fa;
  --word-active-text: white;
  --outline-active: #58aef8;
  --outline-active-hover: #89c6fa;
  --outline-active-text: white;
}

body,
input[type="text"] {
  font-family: var(--sans-serif);
}
