@media screen and (max-width: 959px) {
  .word-list .list {
    padding: 10px auto;
  }

  .word-list .detail {
    margin-top: 24px;
  }
}

@media screen and (min-width: 960px) {
  .word-list {
    display: flex;
    flex-direction: row;
  }

  .word-list .list {
    width: 30%;
  }

  .word-list .detail {
    width: 70%;
    padding: 16px auto;
  }
}

.word-list {
  align-items: start;
}

.word-list .words,
.word-list .outlines {
  margin: 0 -10px;
  max-height: 500px;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  .word-list .words,
  .word-list .outlines {
    max-height: 300px;
  }
}

.word-list .words {
  margin-bottom: 16px;
}

.word-list .count {
  font-size: 90%;
  font-style: italic;
  color: var(--caption);
  padding: 0 10px;
  margin-bottom: 8px;
  margin-left: -10px;
  user-select: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.word-list .detail {
  padding: 16px auto;
}

.word-list ul {
  padding-left: 0;
  margin: 0;
}

.word-list li {
  list-style-type: none;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
  cursor: pointer;
  user-select: none;
}

.word-list li:hover {
  background-color: var(--hover);
}

.word-list .words li.selected {
  background-color: var(--word-active);
  color: var(--word-active-text);
  font-weight: 500;
}

.word-list .words li.selected:hover {
  background-color: var(--word-active-hover);
}

.word-list .outlines li.selected {
  background-color: var(--outline-active);
  color: var(--outline-active-text);
  font-weight: 500;
}

.word-list .outlines li.selected:hover {
  background-color: var(--outline-active-hover);
}

.word-list li .arrow,
.word-list .steno {
  font-family: var(--monospace);
  user-select: none;
}

.word-list .detail {
  text-align: center;
  overflow-y: scroll;
}
